In [11]:
import pandas as pd
import requests

In [17]:
response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=336bb8186fe78070454ebd7d0019a398&language=en-US&page=1")

In [21]:
# response_1  = pd.read_json("https://api.themoviedb.org/3/movie/top_rated?api_key=336bb8186fe78070454ebd7d0019a398&language=en-US&page=1")
#"""if the response is 200  its sucessfull 
#if the response is  500 server  down
#if the response is 403 its it's bad request( https://www.youtube.com/watch?v=8NOdgjC1988&list=PLKnIA16_Rmvbr7zKYQuBfsVkjoLcJgxHH&index=18)
#if the response is 404 its not available"""

In [29]:
df = pd.DataFrame(response.json()['results'])[['id','original_title','original_language','popularity','title','vote_count','vote_average']]

In [31]:
df.head(5)

,id,original_title,original_language,popularity,title,vote_count,vote_average
0,667257,Cosas imposibles,es,63.549,Impossible Things,202,9.0
1,278,The Shawshank Redemption,en,61.377,The Shawshank Redemption,21170,8.7
2,19404,दिलवाले दुल्हनिया ले जायेंगे,hi,25.235,Dilwale Dulhania Le Jayenge,3567,8.7
3,238,The Godfather,en,76.815,The Godfather,15802,8.7
4,652837,ジョゼと虎と魚たち,ja,32.995,"Josee, the Tiger and the Fish",208,8.6

In [32]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [34]:
for i in range(1,494):
    requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=336bb8186fe78070454ebd7d0019a398&language=en-US&page={}".format(i))
    temp_df=pd.DataFrame(response.json()['results'])[['id','original_title','original_language','popularity','title','vote_count','vote_average']]
    df.append(temp_df,ignore_index=True)

In [36]:
df

Empty DataFrame
Columns: []
Index: []

In [37]:
df.shape

(0, 0)

In [ ]:
df.to_csv("movies8.csv")